In [ ]:
import pandas
df = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/yahoo_movie.xlsx', index_col = 0)

In [ ]:
df.head()

                                             content  stars title status
0  不知道耶! 看完整個無感\r\n有種覺得就是女兒"給蕭"害死了老爸\r\n然後...既然可以...      3  古墓奇兵   soso
1  很好看的動作片，不會浪費錢跟時間。很久沒有這樣的探險片。可說是女版的印第安那瓊。女主角跟爸爸...      5  古墓奇兵   good
2  說這個不好看的話，那我還真不知道，還有什麼片是您可以去看得了。電影好看，但話說羅拉有裝可以撿...      5  古墓奇兵   good
3                                   父女重逢真的很讓人感動，五顆星。      5  古墓奇兵   good
4  劇情雖然老套，但仍拍出新意，古墓能殺人的方式不就是機關和毒，要求亂七八糟的觀眾，你看喪尸片看多了。      4  古墓奇兵   good

In [ ]:
import jieba
tags = []
corpus = []
for idx , rec in df[df['status'].isin(['good', 'bad'])].iterrows():
  tags.append(rec.get('status'))
  corpus.append(' '.join(jieba.cut(rec.get('content'))))

Building prefix dict from the default dictionary ...
Dumping model to file cache /tmp/jieba.cache
Loading model cost 0.976 seconds.
Prefix dict has been built successfully.

In [ ]:
corpus[0]

'很 好看 的 動作片 ， 不會 浪費 錢 跟 時間 。 很久 沒有 這樣 的 探險片 。 可說 是 女版 的 印第安那 瓊 。 女主角 跟 爸爸 還有 反派 都 演 得到 位 。 陸任 的 男配角 常在 港片 看到 ， 很帥 。 一時 忘 了 名字 。 希望 有續 集 。'

In [ ]:
tags[0]

'good'

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

In [ ]:
X.shape

(980, 5900)

In [ ]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, tags, test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB(alpha=0.01)
clf.fit(train_X, train_y)

MultinomialNB(alpha=0.01, class_prior=None, fit_prior=True)

In [ ]:
pred_y = clf.predict(test_X)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(test_y, pred_y)

0.75

In [ ]:
confusion_matrix(test_y, pred_y)

array([[56, 25],
       [24, 91]])

In [ ]:
s = '看完這部電影，「珍惜」每個人事物，好好愛家人'
s_corpus = ' '.join(jieba.cut(s))
s_vec = vectorizer.transform([s_corpus])
clf.predict(s_vec)

array(['good'], dtype='<U4')

In [ ]:
import operator
coef_features_c1_c2 = []
for index, features in enumerate(zip(vectorizer.get_feature_names(), \
  clf.feature_count_[0], clf.feature_count_[1])):
  feat,c1,c2 = features
  coef_features_c1_c2.append(tuple([c1/(c2 + 1), feat, c1, c2]))

for i in sorted(coef_features_c1_c2, key = operator.itemgetter(0),reverse=True)[0:20]:
  print(i)

(6.30467647119936, '睡著', 8.16423495666609, 0.2949490737488992)
(4.3126360882886114, '浪費', 6.154256516095438, 0.4270289424159687)
(3.472380297629257, '看到', 15.482951638200332, 3.4588870777694507)
(3.1411234296367154, '睡覺', 4.176921061948796, 0.32975387803588324)
(2.9497617349075185, '演什麼', 3.575465884774551, 0.2121202341404194)
(2.861376216155358, '失望', 7.526926140311029, 1.6305265619438405)
(2.7006006937656633, '最難', 2.7006006937656633, 0.0)
(2.6962157428729716, '一顆', 3.454717947773147, 0.2813210355681509)
(2.5847956452270666, '大爛片', 2.9986121489472772, 0.16009641012988415)
(2.57651193470417, '爛片', 3.5508834985700863, 0.3781746751263514)
(2.542020542922833, '難看', 4.9061865118276415, 0.9300341712370562)
(2.3245229310041875, '空洞', 3.437559709450659, 0.4788237464130511)
(2.184939663427423, '超難', 2.184939663427423, 0.0)
(2.161185554617791, '只有', 4.574322104564794, 1.1165799923060145)
(2.0879373236567726, '第一次', 3.356094206164284, 0.6073730605507287)
(2.01143270873989, '有夠', 2.5322797825243093, 0.25894332508429574)
(1.9004041786487231, '爛透', 1.9004041786487231, 0.0)
(1.8856994530429616, '七八', 2.3784233248025903, 0.261295017593879)
(1.8628717706593463, '第四集', 2.1525688282414355, 0.15551100303568052)
(1.8625265774902753, '超爛', 1.8625265774902753, 0.0)

## 預測分析

### 資料蒐集

In [28]:
import pandas
data_url = 'https://raw.githubusercontent.com/ywchiu/HKPC/master/data/train.csv'

df_train = pandas.read_csv(data_url)
df_train.head()

   id  cycle  setting1  setting2  ...    s19    s20      s21  last_cycle
0   1      1   -0.0007   -0.0004  ...  100.0  39.06  23.4190         192
1   1      2    0.0019   -0.0003  ...  100.0  39.00  23.4236         192
2   1      3   -0.0043    0.0003  ...  100.0  38.95  23.3442         192
3   1      4    0.0007    0.0000  ...  100.0  38.88  23.3739         192
4   1      5   -0.0019   -0.0002  ...  100.0  38.90  23.4044         192

[5 rows x 27 columns]

### 資料預處理

In [29]:
# 建立 Time-To-Failure 標籤
df_train['ttf'] = df_train['last_cycle'] - df_train['cycle']

In [30]:
# 建立引擎是否在30 個循環內故障的標籤
df_train['label_bnc'] = df_train['ttf'].apply(lambda x: 1 if x <= 30 else 0)

In [31]:
df_train.head()

   id  cycle  setting1  setting2  ...      s21  last_cycle  ttf  label_bnc
0   1      1   -0.0007   -0.0004  ...  23.4190         192  191          0
1   1      2    0.0019   -0.0003  ...  23.4236         192  190          0
2   1      3   -0.0043    0.0003  ...  23.3442         192  189          0
3   1      4    0.0007    0.0000  ...  23.3739         192  188          0
4   1      5   -0.0019   -0.0002  ...  23.4044         192  187          0

[5 rows x 29 columns]

In [32]:
import pandas
data_url = 'https://raw.githubusercontent.com/ywchiu/HKPC/master/data/test.csv'

df_test = pandas.read_csv(data_url)
df_test.head()

   id  cycle  setting1  setting2  ...    s19    s20      s21  last_cycle
0   1     31   -0.0006    0.0004  ...  100.0  38.81  23.3552         143
1   2     49    0.0018   -0.0001  ...  100.0  38.81  23.2618         147
2   3    126   -0.0016    0.0004  ...  100.0  38.93  23.2740         195
3   4    106    0.0012    0.0004  ...  100.0  38.58  23.2581         188
4   5     98   -0.0013   -0.0004  ...  100.0  38.75  23.4117         189

[5 rows x 27 columns]

In [33]:
# 建立 Time-To-Failure 標籤
df_test['ttf'] = df_test['last_cycle'] - df_test['cycle']
# 建立引擎是否在30 個循環內故障的標籤
df_test['label_bnc'] = df_test['ttf'].apply(lambda x: 1 if x <= 30 else 0)

In [34]:
df_train.isna().sum()

id            0
cycle         0
setting1      0
setting2      0
setting3      0
s1            0
s2            0
s3            0
s4            0
s5            0
s6            0
s7            0
s8            0
s9            0
s10           0
s11           0
s12           0
s13           0
s14           0
s15           0
s16           0
s17           0
s18           0
s19           0
s20           0
s21           0
last_cycle    0
ttf           0
label_bnc     0
dtype: int64

### 特徵萃取跟特徵篩選

In [35]:
def add_features(df_in, rolling_win_size):
    sensor_cols = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']
    
    sensor_av_cols = [nm.replace('s', 'av') for nm in sensor_cols]
    sensor_sd_cols = [nm.replace('s', 'sd') for nm in sensor_cols]
    
    df_out = pandas.DataFrame()
    
    ws = rolling_win_size
    
    for m_id in pandas.unique(df_in.id):    
        df_engine = df_in[df_in['id'] == m_id]
        df_sub = df_engine[sensor_cols]

        # get rolling mean 
        av = df_sub.rolling(ws, min_periods=1).mean()
        av.columns = sensor_av_cols
    
        # get the rolling std
        sd = df_sub.rolling(ws, min_periods=1).std().fillna(0)
        sd.columns = sensor_sd_cols
    
        new_ftrs = pandas.concat([df_engine,av,sd], axis=1)
    
        df_out = pandas.concat([df_out,new_ftrs])
        
    return df_out

In [36]:
df_train_ex = add_features(df_train, 5)

In [37]:
df_train_ex.head()

   id  cycle  setting1  setting2  ...  sd18  sd19      sd20      sd21
0   1      1   -0.0007   -0.0004  ...   0.0   0.0  0.000000  0.000000
1   1      2    0.0019   -0.0003  ...   0.0   0.0  0.042426  0.003253
2   1      3   -0.0043    0.0003  ...   0.0   0.0  0.055076  0.044573
3   1      4    0.0007    0.0000  ...   0.0   0.0  0.076322  0.037977
4   1      5   -0.0019   -0.0002  ...   0.0   0.0  0.073621  0.033498

[5 rows x 71 columns]

In [38]:
df_test_ex = add_features(df_test, 5)

In [40]:
df_test_ex.head()

   id  cycle  setting1  setting2  setting3  ...  sd17  sd18  sd19  sd20  sd21
0   1     31   -0.0006    0.0004     100.0  ...   0.0   0.0   0.0   0.0   0.0
1   2     49    0.0018   -0.0001     100.0  ...   0.0   0.0   0.0   0.0   0.0
2   3    126   -0.0016    0.0004     100.0  ...   0.0   0.0   0.0   0.0   0.0
3   4    106    0.0012    0.0004     100.0  ...   0.0   0.0   0.0   0.0   0.0
4   5     98   -0.0013   -0.0004     100.0  ...   0.0   0.0   0.0   0.0   0.0

[5 rows x 71 columns]

In [42]:
features = ['setting1', 'setting2', 'setting3', 's1', 's2', 's3', 's4', 's5', 's6', 's7', 
            's8', 's9', 's10', 's11', 's12', 's13', 's14', 's15', 's16', 's17', 's18', 
            's19', 's20', 's21', 'av1', 'av2', 'av3', 'av4', 'av5', 'av6', 'av7', 'av8', 
            'av9', 'av10', 'av11', 'av12', 'av13', 'av14', 'av15', 'av16', 'av17', 'av18', 
            'av19', 'av20', 'av21', 'sd1', 'sd2', 'sd3', 'sd4', 'sd5', 'sd6', 'sd7', 'sd8', 
            'sd9', 'sd10', 'sd11', 'sd12', 'sd13', 'sd14', 'sd15', 'sd16', 'sd17', 'sd18', 
            'sd19', 'sd20', 'sd21']
train_X = df_train_ex[features]
train_y = df_train_ex['label_bnc']

### 建立模型

In [54]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth = 5)
clf.fit(train_X,train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [44]:
test_X = df_test_ex[features]
test_y = df_test_ex['label_bnc']

### 進行驗證

In [45]:
pred_y = clf.predict(test_X)

In [46]:
pred_y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [47]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(test_y, pred_y)

0.89

In [48]:
from sklearn.metrics import confusion_matrix
confusion_matrix(test_y, pred_y)

array([[74,  1],
       [10, 15]])

In [51]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(max_iter=1000)
clf.fit(train_X,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:
# 產生預測結果
pred_y = clf.predict(test_X)

# 計算準確率
accuracy_score(test_y, pred_y)

# 計算混淆矩陣
confusion_matrix(test_y, pred_y)

array([[75,  0],
       [15, 10]])

In [53]:
# 建立邏輯回歸模型
from sklearn.svm import SVC
clf = SVC(kernel = 'linear')
clf.fit(train_X,train_y)

# 產生預測結果
pred_y = clf.predict(test_X)

# 計算準確率
accuracy_score(test_y, pred_y)

# 計算混淆矩陣
confusion_matrix(test_y, pred_y)

array([[74,  1],
       [14, 11]])